* {
    box-sizing: border-box;
}

/* Element target */

h1 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #fff;
    text-shadow: 1px 2px black;    
}

h1,
h2,
h3 {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}

a {
    text-align: center;
    list-style-type: none;
    display: block;
    background-color: #fff;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Odibee Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    border-radius: 3px;
}
a:hover {
    color: orange;
}

p {
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

/* ID selectors */

#portfolio {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    background: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

#portfolio h2 {
    border-bottom: 3px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}

#hobbi {
    text-align: center;
    margin: 0 auto;
    background: #fff;
    padding-top: 2rem;
}

#hobbi h2 {
    border-bottom: 3px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}
#hobbi-img {
    max-width: 50%;
}

#contact {
    text-align: center;
    padding: 1rem;
    margin: auto;
}

#contact h2 {
    border-bottom: 3px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}

#contact span {
    font-weight: bold;
}

#contact p {
    margin-top: 0;
    margin-bottom: 0;
}

#footer-mobil,
#footer-desktop {
    padding: 1em;
    border-top: 1px solid lightgray;
    max-width: 1024px;
    margin: 0 auto;
}

/* Class selectors*/
.main-header {
    background: rgb(51, 49, 49, 0.7);
}

.main-nav ul{
    padding: 0;
}

.header-img {
    display: block;
    margin: 1rem auto;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.name-desktop {
    float: left;    /* footer */
    text-transform: uppercase;
}

.nav-desktop {      /* footer */
    float: right;
    padding: 0;
}

.nav-desktop li {   /* footer */
    float: left;
    padding-left: 1em;
    text-transform: uppercase;
    padding-right: 6px;
    border-right: 2px solid orange;
}

.nav-desktop a{         /* footer */
    display: inline-block;
    padding: 0;
    background: #f2f2f2;
  
}


#footer-desktop {
    display: none;
    }
    
.name-mobil {
    float: left;
    text-transform: uppercase;
    } 


.container {
    padding-left: 1rem;
    padding-right: 1rem;
    }

.header-img {
    padding-top: 2rem;
    }

.nav-mobil {
    float: right;
    padding-right: 6px;
    border-right: 2px solid orange;
    }

.nav-mobil a {
    background: #f2f2f2;
    margin: 0;
    text-transform: uppercase;
    }

p {
    text-align: center;
     padding: 1rem;
    }


@media (min-width: 768px){
    
    .container {
        padding: 0;
    }

    .main-nav {
        display: block;
        text-align: center;
    }
    
    .main-nav li {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        text-transform: uppercase;
    }

    .first p {
        text-align: left;
    }

    li:last-child {
        padding-right: 0;
    }
    
    .header-img {
        float: right;
        margin-left: 1rem;
        padding-top: 0;
    }

    a {
        display: inline-block;
        background: #f2f2f2;
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        text-align: center;
        padding: 1rem;
    }

    .wrap {         /*Use Display flex to make coloumn equal*/
        display: flex;
        flex-wrap: wrap;
    }

    .marketing,
    .search-page {
        width: 50%;
        padding-right: 1em;
        padding-left: 1em;
        flex-grow: 1;
    }

    .travel-app,
    .map-of-sports {
        width: 50%;
        padding-right: 1em;
        padding-left: 1em;
        flex-grow: 1;  
    }

    .photo-galery,
    .calculator {
        width: 50%;
        padding-right: 1em;
        padding-left: 1em;
        flex-grow: 1;
    }
    #footer-mobil {
        display: none;
    }

    #contact {
        max-width: 70%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #contact p {
        text-align: center;
    }
    
    #footer-desktop {
        display: block;
        }
    #hobbi p {
        max-width: 70%;
        margin: auto;
    }

    .hobbi-img {
        max-width: 50%;
        margin-bottom: 2rem;
    }

}

/* ---------- Media Queries --------- */

@media (min-width: 1024px) {
    
    .marketing,
    .search-page,
    .travel-app {
        display: inline-block;
        width: 33.333%;  
        padding: 1em; 
        flex-grow: 1;
    }

    .map-of-sports,
    .photo-galery,
    .calculator {
        display: inline-block;
        width: 33.333%; 
        padding: 1em;
        flex-grow: 1;
    }   
    
    .name {
        float: left;
        text-transform: uppercase;
    }

    .main-nav {
        float: right;
    }
    .main-nav li {
        float: left;
        text-transform: uppercase;
    }
    
    .main-nav a {
        display: inline-block;
        margin: 0;
        background: #f2f2f2;
    }

    a:hover {
        color: orange;
    }

    #footer-mobil {
        display: none;
    }

    #contact {
        max-width: 60%;
    }
}

/*  Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}